@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&display=swap');

.mozilla-text-<uniquifier> {
  font-family: "Mozilla Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}